* {
    margin: 0; 
    padding: 0;
    font-family:Impact, arial;
    box-sizing: border-box;
} 

body {background-color: rgb(202, 132, 46);
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(27, 189, 189);
}

#imgHeader {
    width: 100%;
    display: block;
}   

.home.main p {
    text-align: justify;
    line-height: 25px;
    font-size:18px;
    padding: 15px 0;
}

nav {
    overflow: hidden;
}

nav a {
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: darkcyan;
    padding: 15px 30px;
    font-size:20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

nav a:hover {
    background-color: crimson;
    cursor:pointer;
}

h1 {
    font-size: 30px;
    text-align: center;
    width: auto;
    margin: 0 10%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid crimson ;
}



@media (max-width:800px) {
    nav a {
        width:50%;
        font-size: 22px;
    }
    h1 {font-size: 26px}
}

@media (max-width:500px) {
    nav a {
        width: 100%;
    }
}


